* {
    margin: 0;
    padding: 0;
    border: 1px solid black;
}
body{
    background-color:#97aabd;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
    margin: 10px auto;
    background-color: #ccc264;
}
table tr td{
    width: 200px;
    height: 200px;
    border: 1px  solid block;
    font-size: 100px;
    text-align: center;

}
table tr td:hover{
    background-color:#2c3531;
    cursor: pointer;
}





